.MuiSpeedDial-root {
    /* Apply styles to the SpeedDial component (dropdown) */
    position: absolute;
    z-index: 1000; /* Set a high z-index to ensure it appears on top of other elements */
    display: none; /* Hide the dropdown by default */
}
  
.speedDial {
    left: 3vmax;
    top: 1.2vmax;
}
.speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
}