.flex {
    display: flex;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-start {
    justify-content: flex-start;
  }
  
  .md\\:justify-center {
    @media (min-width: 768px) {
      justify-content: center;
    }
  }